body {
    background-image: url("../images/Wood.jpg");
}

.hover {
    color: white;
    background-color: green;
}

#message {
    width: 50%;
}

#beginQuiz {
    margin: 30px;
}

#quizHeader {
    height: 100px;
    font-style: italic;
    text-decoration-style: wavy;
}

#answer-list, #question {
    margin: auto;
    color: green;
    font-weight: bold;
}

#olDiv {
    text-align: center;
}

#answer-list {
    width: 60%;
    text-align: center;
    margin-top: 20px;
    list-style-position: inside;    
}


p, #score, #pleaseEnter {
    color: green;
    font-size: 22px;
    margin: auto;
    padding: 0;
    text-align: center;
}

#timer {
    text-align: right;
}

#score, #pleaseEnter {
    height: 30px;
    font-weight: bold;
    margin: 20px;
}


.high-score, .high-score-header {
    height: 1.5em;
    color: darkgreen;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.high-score-header {
    font-size: 25px;
    height: 2em;
    margin-top: 40px;
    text-decoration: underline;
}

#initInput, #initInput2 {
    text-align: center;
}