body {
    background-image: url("../images/wood.jpg");
}

#message {
    width: 50%;
}

#beginQuiz {
    margin: 30px;
}

#quizHeader {
    height: 100px;
    font-style: italic;
    text-decoration-style: wavy;
}

#answer-list, #question {
    margin: auto;
    color: green;
    font-weight: bold;
}

#olDiv {
    text-align: center;
}

#answer-list {
    width: 60%;
    text-align: center;
    margin-top: 20px;
    list-style-position: inside;    
}


p {
    color: green;
    font-size: 22px;
    margin: auto;
    padding: 0;
}
